@model AllPlayData
@{
    ViewData["Title"] = "Home Page";
}
<h1>Menu</h1>
<h1>@Model.PlayerName</h1>
<h1>@Model.PlayerMap</h1>
  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Play">@Model.LanguagePlayer.Play</a>
  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Settings">@Model.LanguagePlayer.Settings</a>
